{% comment %} ----- START ICONS ----- {% endcomment %}
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/icons/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/icons/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{site.baseurl}}/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="RoboFont">
<meta name="application-name" content="RoboFont">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{site.baseurl}}/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{% comment %} ----- END ICONS ----- {% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.0/jquery.mark.min.js"></script>
<script src="{{site.baseurl}}/js/menu.js"></script>
<script src="{{site.baseurl}}/js/roboFontURLHandler.js"></script>
<script src="{{site.baseurl}}/js/headerlinks.js"></script>
<script src="{{site.baseurl}}/js/searchHighlight.js"></script>
<script src="{{site.baseurl}}/js/nextprev.js"></script>
<script src="{{site.baseurl}}/js/editThisFile.js"></script>

{% comment %} ----- AUTOPLAY SLIDESHOWS ----- {% endcomment %}
{% if page.slideShows %}
    <script src="{{site.baseurl}}/js/slides.min.js"></script>
    <script>
    $(document).ready(function(){
        $(".slides").slidesjs({
            width: {% if page.slideShows.width %} {{page.slideShows.width}} {% else %} 700 {% endif %},
            height: {% if page.slideShows.height %} {{page.slideShows.height}} {% else %} 300 {% endif %},
            {% if page.slideShows.autoPlay %}
            play: {
                auto: true,
                interval: 2000,
                pauseOnHover: true,
                restartDelay: 500
            },
            {% endif %}
            navigation: {
                active: false
            }
        });
    })
    </script>
{% endif %}

{% comment %} ----- COLLAPSIBLE TOC ----- {% endcomment %}
<script>
    $(function(){
        $('#markdown-toc').click(function(e){
            $(this).children('li').toggle();
            $(this).toggleClass('toc-collapse');
        });
        $("#markdown-toc li").click(function(e){
            e.stopPropagation();
        });
    });
</script>
